<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.husby.mindthegap.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.husby.mindthegap.Perspective"
            id="org.husby.mindthegap.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.husby.mindthegap.views.TopicsView"
            icon="icons/alt_window_16.gif"
            id="org.husby.mindthegap.views.topics"
            name="Topics"
            restorable="true">
      </view>
   </extension>

</plugin>
